@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

[data-feather="shopping-cart"] {
  content: url(./assets/icons/shopping-cart.svg);
  height: 24px;
}
[data-feather="x-circle"] {
  content: url(./assets/icons/x-circle.svg);
  height: 24px;
}
[data-feather="minus-circle"] {
  content: url(./assets/icons/minus-circle.svg);
  height: 24px;
}
[data-feather="plus-circle"] {
  content: url(./assets/icons/plus-circle.svg);
  height: 24px;
}

* {
  /* font-family: "Montserrat", sans-serif; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
@media print and (width: 3.14in) {
  @page {
    margin: 5mm;
  }
}
