@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}
.feather {
  height: 24px;
  width: 24px;
}
* {
  font-family: "Montserrat", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
@media print and (width: 3.14in) {
  @page {
    margin: 5mm;
  }
}
